<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    bootstrap="bootstrap.php">
    <testsuite name="all">
        <directory>./case</directory>
    </testsuite>
    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
    </logging>
</phpunit>
